body{
	font-family:calibri;
	color:#868684;
}
@font-face {
    font-family: revere_normal;
    src: url(../fonts/revere.ttf);
}
@font-face {
    font-family: revere_normal;
    src: url(../fonts/revere.eot);
}
a{
	text-decoration:none;
	color:#000;
}
a:hover,a:focus{
	text-decoration:none;
}
span{
	color:#E29A36;
}
.read {
    display: inline-block;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}


/*header css*/
header a,
.menu_area form,
.slider-control,
.read{
	background:url(../images/blog-image.png);
}
header a{
	width:200px;
	display:block;
	margin:0 auto;
	color:#868684;
}
header h1{
	font-family:revere_normal;
	font-weight:900;
	padding-top:12px;
}
header h5{
	margin-top:-15px;
	padding-bottom:12px;
	font-size:15px;
}

/* menu_area css*/
.menu_area{
	position:relative;
	padding:15px 0;
}
.top-shadow{
	position:absolute;
	top:10px;
	width:105%;
	left:-5%;	
}
.bottom-shadow{
	position:absolute;
	bottom:20px;
	width:105%;
	left:-5%;	
}
.menu_area .form-control{
	border: none;
	box-shadow: none;
	background: transparent;
}
.menu_area form{
	margin: -1px;
}
.menu_area form .btn{
	background:transparent;
	color: #000;
}
nav ul{
	list-style:none;
	padding-left:0;
}
nav ul li{
	display:inline-block;
}
nav ul li a{
	display:inline-block;
	padding:5px 15px;
	font-size:16px;
}
nav ul li a:first-child{
	padding-left:0;
}
nav ul li a:hover{
	text-decoration:none;
	color:#E29A36;
}

/* .slider_area*/
.silder_area{
	position: relative;
}

.silder-caption{
    position: absolute;
    bottom: 0;
    padding: 15px 15px 30px 15px;
    background: rgba(255,255,255,0.5);
    color: #fff;
}
.silder-caption p{
    color: #000;
}
.silder_area .slider-arrow i{
	position: absolute;
	top: 50%;
	width: 20px;
	height:25px;
	line-height:25px;
	margin-top: -15px;
	background: #fff;
	cursor: pointer;
}
.silder_area .glyphicon-chevron-left{
	left:15px;
	padding-left: 3px;
}

.silder_area .glyphicon-chevron-right{
	right:15px;
	padding-left: 3px;
}
.slider-control {
	bottom: -15px;
	left: 50%;
	margin-left: -72px;
	padding: 5px 15px;
	position: absolute;
	text-align: center;
	box-shadow: 0 -4px 5px 0 grey;
	border-radius: 5px 5px 0 0;
	background-color:#fff;
}

.slider-control  a {
	width:10px;
	height:10px;
	border-radius:100%;
	background:gray;
	display:inline-block;
	margin: 2px 5px;
}

.slider-control  a:hover {
	background:#E29A36;
}

/* intro_area css*/
.intro_area p {
    padding: 25px 35px;
    border: 1px solid gray;
    margin-top: 50px;
    font-size: 20px;
    font-family: revere_normal;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 gray;
}
.recent-work_area .item {
	width:100%;
	float:left;
	position:relative;
	height:200px;
	margin-bottom: 30px;
	overflow: hidden;
}
.recent-work_area .item::before{
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.1);
	top:0;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
}
.recent-work_area .item:hover::before{
	background:rgba(0,0,0,0.8);	
}
.recent-work_area .item i {
	height: 20px;
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
	width: 20px;
	opacity:0;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	cursor: pointer;
}
.recent-work_area .item:hover i {
	opacity:1;
	color: #fff;
}

/* recent-post css */
.recent-post .row{
	margin-bottom: 15px;
}
.recent-post img{
	margin-right: 10px;
}

/* footer-top_area css */
.footer-top_area{
	background: #f1f1f1 url(../images/logo-bg.png);
	margin-top: 50px;
	padding: 25px 0;
	position: relative;
}

/* footer css */
footer{
	padding: 15px 0 0 0;
}
.notification a{
	display: inline-block;
	width: 45%;
	line-height: 25PX;
}
.notification a:hover{
	color:#E29A36;
}
.social-icon{
	position: absolute;
	bottom: -50px;
	left: 15px;
}
.social-icon a{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height:30px;
	border-radius: 100%;
	background: #E29A36;
	display: inline-block;
}
.social-icon a:hover{
	background:gray;
}
